/* pc */
@media(min-width: 1024)
{
}
/* tablet va mobile */
@media(max-width:1023px)
{

    .place-buy-btn{
        padding: 15px 16px;
    }
    .contact-info{
        line-height: 2;
    }
    .contact-form .text-formcontrol {
        padding: 15px;
    }
    .contact-form .btn-send{
        padding:14px 16px;
    }
    #footer .item-footer{
        font-size: 47px;
    }
    #footer .item-footer a{
       margin: 0 8px;
    }
    #footer .copy-write a{
        padding: 12px 0;
        display: inline-block;
    }
}
/* tablet */
@media(min-width:740px) and (max-width:1023px)
{
   
}
/* mobile */
@media(max-width:740px)
{
    #header{
        overflow: hidden; 
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-button{
        display: none;
    }
    #nav{
        display: block;
    }
    #nav li a {
        display: block;
        padding: 1px 24px;
    }
    #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: white;
        padding: 5px 41px;
    }

    /* member-item  */
   .member-item{
       width: 100%;
       margin: 16px 0;
   }
   #content .member-img{
       width: 200px;
   }
   /* place-item */
   .s-full-witdh,
   .s-col-full{
       width: 100% !important;
   }
   /* contact */
   .s-col-full-contact{
       width: 100%;
        margin-bottom: 32px;
   }
   .s-mt-8{
       margin-top: 8px;
   }
  
}